# Install and import

In [4]:
!pip install git+https://github.com/batprem/price-loaders.git@fix/default-return-data-to-numerical

Collecting git+https://github.com/batprem/price-loaders.git@fix/default-return-data-to-numerical
  Cloning https://github.com/batprem/price-loaders.git (to revision fix/default-return-data-to-numerical) to /tmp/pip-req-build-hg_6glee
  Running command git clone --filter=blob:none --quiet https://github.com/batprem/price-loaders.git /tmp/pip-req-build-hg_6glee
  Running command git checkout -b fix/default-return-data-to-numerical --track origin/fix/default-return-data-to-numerical
  Switched to a new branch 'fix/default-return-data-to-numerical'
  Branch 'fix/default-return-data-to-numerical' set up to track remote branch 'fix/default-return-data-to-numerical' from 'origin'.
  Resolved https://github.com/batprem/price-loaders.git to commit e2731e78406ad42b8e4691abcaaffeb149d7df78
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: pandas<3.0.0,>=2.1.4 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from price-loaders==0.1.3b2) (2.1.4)
Requirement already satisfied: pytz<2024.0,>=2023.3.post1 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from price-loaders==0.1.3b2) (2023.3.post1)
Requirement already satisfied: requests<3.0.0,>=2.31.0 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from price-loaders==0.1.3b2) (2.31.0)
Requirement already satisfied: numpy<2,>=1.23.2 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from pandas<3.0.0,>=2.1.4->price-loaders==0.1.3b2) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from pandas<3.0.0,>=2.1.4->price-loaders==0.1.3b2) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from pandas<3.0.0,>=2.1.4->price-loaders==0.1.3b2) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from requests<3.0.0,>=2.31.0->price-loaders==0.1.3b2) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from requests<3.0.0,>=2.31.0->price-loaders==0.1.3b2) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from requests<3.0.0,>=2.31.0->price-loaders==0.1.3b2) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from requests<3.0.0,>=2.31.0->price-loaders==0.1.3b2) (2023.7.22)
Requirement already satisfied: six>=1.5 in /home/prem/miniconda3/envs/thairath/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.1.4->price-loaders==0.1.3b2) (1.16.0)
Building wheels for collected packages: price-loaders
  Building wheel for price-loaders (pyproject.toml) ... done
  Created wheel for price-loaders: filename=price_loaders-0.1.3b2-py3-none-any.whl size=7161 sha256=fc5b672408f37d62aec3361554967b3912f98fa502d415ad672fdf77d74e0ff3
  Stored in directory: /tmp/pip-ephem-wheel-cache-a9nhfb14/wheels/00/45/bb/30a285870bd916196afa13fd9cb9ef57e921bce3bad2627653
Successfully built price-loaders
Installing collected packages: price-loaders
  Attempting uninstall: price-loaders
    Found existing installation: price-loaders 0.1.3b1
    Uninstalling price-loaders-0.1.3b1:
      Successfully uninstalled price-loaders-0.1.3b1
Successfully installed price-loaders-0.1.3b2

In [2]:
from price_loaders.tradingview import load_asset_price

# Load stock price

In [3]:
df = load_asset_price("SET:TTB", 3650, "1D", None)
df

TypeError: Cannot cast DatetimeArray to dtype float64

In [ ]:
df

# Load index (SET)

In [3]:
df = load_asset_price("SET", 3650, "1D", None)
df

                          time        open        high         low       close
0    2008-12-24 09:00:00+07:00   439.01001   443.76001   438.16000   439.17001
1    2008-12-25 09:00:00+07:00   441.85001   444.64001   439.64001   444.64001
2    2008-12-26 09:00:00+07:00   445.73999   448.29001   444.37000   446.62000
3    2008-12-29 09:00:00+07:00   444.92001   446.70001   440.20999   446.70001
4    2008-12-30 09:00:00+07:00   448.41000   452.48999   446.85999   449.95999
...                        ...         ...         ...         ...         ...
3645 2023-12-22 09:00:00+07:00  1407.39000  1407.56990  1397.93010  1405.09000
3646 2023-12-25 09:00:00+07:00  1404.56010  1409.41000  1404.35000  1408.83000
3647 2023-12-26 09:00:00+07:00  1408.17000  1414.43990  1406.50000  1413.45000
3648 2023-12-27 09:00:00+07:00  1415.06010  1416.10000  1407.62000  1410.43010
3649 2023-12-28 09:00:00+07:00  1410.87000  1418.98000  1410.87000  1415.85000

[3650 rows x 5 columns]

# Load TFEX (S501!)

In [4]:
df = load_asset_price("S501!", 3650, "1D", None)
df

                          time    open    high     low   close    volume
0    2014-10-31 09:45:00+07:00  1039.0  1056.0  1037.0  1054.9   70889.0
1    2014-11-03 09:45:00+07:00  1056.3  1059.8  1049.2  1052.6   65870.0
2    2014-11-04 09:45:00+07:00  1054.5  1059.1  1051.7  1058.8   52811.0
3    2014-11-05 09:45:00+07:00  1057.0  1058.2  1049.5  1052.0   65401.0
4    2014-11-06 09:45:00+07:00  1053.9  1056.8  1051.2  1055.6   49069.0
...                        ...     ...     ...     ...     ...       ...
2227 2023-12-22 09:45:00+07:00   872.1   872.7   866.6   872.4  141602.0
2228 2023-12-25 09:45:00+07:00   872.0   876.4   871.8   874.2   35580.0
2229 2023-12-26 09:45:00+07:00   874.1   878.8   873.9   878.3   48907.0
2230 2023-12-27 09:45:00+07:00   875.0   876.4   869.8   870.2  163821.0
2231 2023-12-28 09:45:00+07:00   872.0   875.5   872.0   873.2  130129.0

[2232 rows x 6 columns]

# Load Forex (EURUSD)

In [7]:
df = load_asset_price("EURUSD", 3650, "1D", None)
df

                          time     open     high      low    close    volume
0    2009-12-08 05:00:00+07:00  1.48255  1.48672  1.46811  1.47024   74158.0
1    2009-12-09 05:00:00+07:00  1.47024  1.47819  1.46686  1.47235   69276.0
2    2009-12-10 05:00:00+07:00  1.47235  1.47601  1.46836  1.47300   59791.0
3    2009-12-11 05:00:00+07:00  1.47300  1.47761  1.45861  1.46282   55560.0
4    2009-12-14 05:00:00+07:00  1.46282  1.46855  1.45965  1.46546   52727.0
...                        ...      ...      ...      ...      ...       ...
3645 2023-12-25 05:00:00+07:00  1.10190  1.10190  1.10050  1.10073     150.0
3646 2023-12-26 05:00:00+07:00  1.10073  1.10451  1.10073  1.10419   85402.0
3647 2023-12-27 05:00:00+07:00  1.10419  1.11227  1.10284  1.11050  142760.0
3648 2023-12-28 05:00:00+07:00  1.11050  1.11393  1.10552  1.10612  186264.0
3649 2023-12-29 05:00:00+07:00  1.10612  1.10842  1.10339  1.10375  185273.0

[3650 rows x 6 columns]

# Crypto (BTCUSDT)

In [8]:
df = load_asset_price("BTCUSDT", 3650, "1D", None)
df

,time,open,high,low,close,volume
0,2017-08-17 07:00:00+07:00,4261.48,4485.39,4200.74,4285.08,795.150377
1,2017-08-18 07:00:00+07:00,4285.08,4371.52,3938.77,4108.37,1199.888264
2,2017-08-19 07:00:00+07:00,4108.37,4184.69,3850.00,4139.98,381.309763
3,2017-08-20 07:00:00+07:00,4120.98,4211.08,4032.62,4086.29,467.083022
4,2017-08-21 07:00:00+07:00,4069.13,4119.62,3911.79,4016.00,691.743060
...,...,...,...,...,...,...
2323,2023-12-27 07:00:00+07:00,42508.93,43677.00,42098.69,43428.85,36190.479240
2324,2023-12-28 07:00:00+07:00,43428.86,43787.57,42241.79,42563.76,35150.524850
2325,2023-12-29 07:00:00+07:00,42563.76,43111.00,41300.00,42066.95,42595.991790
2326,2023-12-30 07:00:00+07:00,42066.94,42612.32,41520.30,42140.28,22906.578180
2327,2023-12-31 07:00:00+07:00,42140.29,42433.49,41965.84,42226.40,4070.667520